header a button{
    position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-20%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.carrusel a button{
    position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: #27c2b5;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;

}
 
.carrusel img{ position: relative;
    
}
 
.vermas{
    text-align: right;
}


.servicio img{
    width: 100px;
    height: 100px;
    

}
.bajo a{
text-decoration: none;
color: green;

}

.pie h2{
color: white;
}
.cabeza a{ 
    color: black;
    
}

.pie Button{
    outline: none;
}



/* Formulario cita */
.formsec{
    background-color: #67999087
}
#encita{
     color: #2c3e50;
    text-align: center
}
.Formulario{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: #333;
    width: 80%;
    align-items: center;
    align-content: center;
}
#formReserva{
     background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.Formulario button {
    background-color: #3460db;
    border-color: #3498db;
}
.Formulario a button {
    background-color: #20a362;
}

.Formulario button:hover{
    background-color: #29b937;
    border-color: #2980b9;
}

#formReserva label{ font-weight: 600;
}

#formReserva input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    
}
 
.alert {
    padding: 15px;
    background-color: #2ecc71;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.tablass{     
    width: 100%;
    border-collapse: collapse;
    
}
.tablass th{
    text-align: center;
    background-color: #34495e;
    color: white;
}
.tablass td{
     text-align: center;
    vertical-align: middle;
}